<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>165965530122-kuk655h3ki06c7tkbshl3qgv3o8lu4ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165965530122-kuk655h3ki06c7tkbshl3qgv3o8lu4ud</string>
	<key>API_KEY</key>
	<string>AIzaSyC60FFRfIgIbx7bvZfP52BkvZLEhqz4hIU</string>
	<key>GCM_SENDER_ID</key>
	<string>165965530122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pro.JaismeenApp</string>
	<key>PROJECT_ID</key>
	<string>jaismeenappdb</string>
	<key>STORAGE_BUCKET</key>
	<string>jaismeenappdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:165965530122:ios:a83b5a43a067f3c6</string>
	<key>DATABASE_URL</key>
	<string>https://jaismeenappdb.firebaseio.com</string>
</dict>
</plist>